

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
     Search Here: 
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        
          <app-search-item [item]="option"></app-search-item>
          
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
